<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" />
		<script src="{{ url_for("static", filename="jquery.min.js") }}"></script>
				<script src="{{ url_for("static", filename="ajax.js") }}"></script>
    <meta charset="utf-8">
		<title>Upload</title>
	</head>
	<body>
    <h1>File Uploader</h1>
    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" target="upload_target">
      <input id="button_select" type="file" name="file" multiple>
      <input id="button_send" type="submit" value="send">
    </form>

		<div id="view_files"></div>

		<iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>

	</body>
</html>
